<!doctype html>
<html>
<head>
    <style>
        div{
            width: 700px;
            display: block;
            margin: 40px auto;
            padding: 20px;
            border: 1px solid #d8d8d8;
            background: #e4e4e4;
        }
        
        input{margin: 40px 14px 0 0;}
        
        label{font-weight: bold; clear: both}

        span{color: red;}
    </style>
</head>
    <body>
        <div>

        {% block content %}
        {% endblock %}

        </div>
    </body>
</html>